.logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre imagen y texto */
    font-weight: bold;
    font-size: 24px;
    color: white; /* o el color que uses para el texto */
}

.logo-img {
    height: 40px; /* ajusta según tamaño deseado */
    width: auto;
}
